<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= name %></title>
  <style>
    table {
      width: 100%;
    }
  </style>
</head>
<body>
  <h1><%= name %></h1>
  <% if (attendees) {  %>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(_.sortBy(attendees, function(it){ return it.rank; }), function(attendee) { %>
      <tr>
        <td>#<%= attendee.rank %></td>
        <td><%= attendee.name %></td>
        <td><a href="<%= attendee.link %>">Web site</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } %>
</body>
</html>